{% extends "bootstrap/base.html" %}
{% block title %}Customer WhatsApp Notification{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h2>Talk to the Admin via WhatsApp or Live Chat</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <section>
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-a6f9086c-7c1f-4cd6-b713-ac72ec95a245"></div>
    </section>
    <section>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/648542dd94cf5d49dc5cf44a/1h2k8qdff';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
    </section>
</div>
{% endblock %}