{% extends "bootstrap/base.html" %}
{% block title %}Farm Visit Schedule{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h2>Schedule a Farm Visit</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-4 px-3" style="height: 100vh;">
        <section>
            <iframe src="https://www.vcita.com/widgets/scheduler/v9dmt57vfuev5ewh?frontage_iframe=true&ver=2"
                width="100%" height="508" frameborder="0">
                <p>Use my online scheduling page by vcita to schedule an appointment with me:</p>
                <a
                    href='https://www.vcita.com/v/v9dmt57vfuev5ewh/online_scheduling?frontage_iframe=true&invite=vr_sched_pb-v9dmt57vfuev5ewh'>Online
                    Scheduling with Farm Share</a>
            </iframe>
        </section>
    </div>
{% endblock %}
