{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container mt-5 shadow p-3 mb-5 bg-white rounded">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-3">Add Value Chain</h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.field.widget.input_type == "select" %}
                        <select name="{{ field.name }}" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}">
                            {% for option in field.field.choices %}
                                <option value="{{ option.0 }}" {% if field.value == option.0 %}selected{% endif %}>{{ option.1 }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}">
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
