{% extends "bootstrap/base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Satellites</h1>

        {% for image_data in imagery_data %}
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-calendar-day"></i> Acquisition Date
                    </h5>
                    <p class="card-text">{{ image_data.dt }}</p>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-satellite"></i> Satellite Type
                    </h5>
                    <p class="card-text">{{ image_data.type }}</p>
                </div>
            </div>

            <div class="card mt-4 mb-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-cloud"></i> Cloud Coverage
                    </h5>
                    <p class="card-text">{{ image_data.cl }}%</p>
                </div>
            </div>

            <!-- Add more cards for other metadata as needed -->

        {% endfor %}
    </div>
{% endblock content %}
